#title-container {
  margin-left: auto;
  margin-right: auto;
}

#feedback {
  color: #3E5ADE;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 6px;
}

#loop {
  width: 200px;
}

#infinity {
  font-size: 85px;
  font-weight: 400;
}

.btn {
  background-color: #3E5ADE;
}

.dashboard-btns {
  border: 3px solid #30B271;
  border-radius: 5px;
  color: black;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  line-height: 50px;
  margin: 5px;
  padding: 0 10px;
  width: auto;
}

.dashboard-btns a, .dashboard-btns a:visited {
  color: black;
  text-decoration: none;
}

.dashboard-btns:hover {
  background-color: #30B271;
  color: #FFF;
  text-decoration: none;
}

footer {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 100px;
}

#login-submit-btn, #signup-submit-btn {
  margin-top: 30px;
}

.date-text {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.display-user-survey-container {
  margin: 10px 0;
}