#new-survey-btn {
  border: 1px solid black;
  float: left;
  margin: 5px;
  padding: 10px;
  width: 100px;
}

#view-survey-btn {
  border: 1px solid black;
  float: left;
  padding: 10px;
  margin: 5px;
  width: 100px;
}